.outline {
  color:aliceblue;
  text-shadow:
  -3px -3px 0 #000,
  3px -3px 0 #000,
  -3px 3px 0 #000,
  3px 3px 0 #000;  
  }
.outline2 {
  color:aliceblue;
  text-shadow:
  -3px -3px 0 rgb(255, 255, 255)
  3px -3px 0 rgb(255, 255, 255)
  -3px 3px 0 rgb(255, 255, 255)
  3px 3px 0 rgb(255, 255, 255)  
  }
.backing {
  color: antiquewhite;
  background-color:steelblue;
  border: 3px solid antiquewhite;
}
.backing2 {
  width: 30%;
  box-sizing:border-box;
  color: antiquewhite;
  background-color:steelblue;
  border: 3px solid antiquewhite;
}   
body {
  background-image: url(space.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}